/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.local
.env.production
.env.production-alwaysdata
.env.production-ClearDB
.env.production-hcsperu
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
